.icons{
    font-size: 30px;
    color: rgb(128, 44, 177);
    text-align: center;
    border: 5px solid rebeccapurple;
    width: 50px;
   padding: 60px;
   margin-top: 60px;
   margin-left: 40%;
   border-radius: 5px 10px 20px 30px;
   box-shadow: 10px 10px 5px red;
   background-color: #fff;
}
body{
    background-color: antiquewhite;
}